<%
  name ||= "option"
  tabs ||= ["instructions", "generate-titles", "all-options", "shortlist"]
  open_tab ||= tabs.first
%>

<div class="mb-4 border-b border-neutral-200 dark:border-neutral-700">
  <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="<%= name %>-tab" data-tabs-toggle="#<%= name %>-content" role="tablist">
    <% tabs.each do |tab| %>
      <li class="me-2" role="presentation">
        <button class="text-neutral-700 dark:text-neutral-300 inline-block p-4 border-b-2 rounded-t-lg" id="<%=tab%>-tab" data-tabs-target="#<%=tab%>" type="button" role="tab" aria-controls="<%=tab%>" aria-selected="<%= open_tab == tab %>"><%= partial.send("#{tab.underscore}_header") %></button>
      </li>
    <% end %>
  </ul>
</div>

<div id="<%= name %>-tab-content">
  <% tabs.each do |tab| %>
    <div class="hidden" id="<%= tab %>" role="tabpanel" aria-labelledby="<%= tab %>-tab">
      <%= partial.send("#{tab.underscore}") %>
    </div>
  <% end %>
</div>